<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TS Retro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="HtmlCss.css" />
        <link rel="stylesheet" type="text/css" href="tsretro.css" />
    </head>
    <body ng-app="tsretro">
    <div class="container-fluid metro" ng-controller="MainController">
        <div class="row-fluid">
            <div class="span3">
                <button class="btn btn-primary" ng-click="toggleForm()">New note</button>
                <form name="note" ng-class="display" action="javascript:void(0);">
                    <br>
                    <input ng-model="title" type="text" placeholder="Title" required>
                    <textarea ng-model="notes" placeholder="notes" rows="10" required></textarea>
                    <select ng-model="question" ng-options="q.name for q in questions"></select>
                    <input ng-model="project" type="text" placeholder="project" required>
                    <input ng-model="tags" type="text" placeholder="Additional tags">
                    <br>
                    <button class="btn btn-success" ng-click="saveForm()">Save</button>
                    <button class="btn btn-danger" ng-click="toggleForm()">Cancel</button>
                </form>
            </div>
            <div class="span9">
                <div class="row-fluid">
                    <div class="span6">
                        <h1>What did we do well?</h1>
                        <br>
                        <section class="notes">
                            <div ng-repeat="note in savedNotes.whatDidWeDoWell" class="tile wide text bg-color-blue">
                                <div class="top-right icon-cancel" ng-click="deleteNote(note)"></div>
                                <div class="text-header">{{ note.title }}</div>
                                <br>
                                <div class="text4">{{ note.text }}</div>
                            </div>
                        </section>
                    </div>
                    <div class="span6">
                        <h1>What did we learn?</h1>
                        <br>
                        <section class="notes">
                            <div ng-repeat="note in savedNotes.whatDidWeLearn" class="tile wide text bg-color-purple">
                                <div class="top-right icon-cancel" ng-click="deleteNote(note)"></div>
                                <div class="text-header">{{ note.title }}</div>
                                <br>
                                <div class="text4">{{ note.text }}</div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <h1>What should we do differently next time?</h1>
                        <br>
                        <section class="notes">
                            <div ng-repeat="note in savedNotes.whatShouldWeDoDifferentlyNextTime" class="tile wide text bg-color-green">
                                <div class="top-right icon-cancel" ng-click="deleteNote(note)"></div>
                                <div class="text-header">{{ note.title }}</div>
                                <br>
                                <div class="text4">{{ note.text }}</div>
                            </div>
                        </section>
                    </div>
                    <div class="span6">
                        <h1>What still puzzles us?</h1>
                        <br>
                        <section class="notes">
                            <div ng-repeat="note in savedNotes.whatStillPuzzlesUs" class="tile wide text bg-color-orange">
                                <div class="top-right icon-cancel" ng-click="deleteNote(note)"></div>
                                <div class="text-header">{{ note.title }}</div>
                                <br>
                                <div class="text4">{{ note.text }}</div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="angular.js"></script>
    <script src="tsretro.js"></script>
    <script src="MainController.js"></script>
    <script src="TiddlerService.js"></script>
    <script src="SearchService.js"></script>
    <script src="angular-resource.js"></script>
    <script src="http://tiddlyspace.com/bags/common/tiddlers/backstage.js"></script>
    </body>
</html>